.flex-nav {
  width: 100%;
  height: 100px;
}
.flex-nav p {
  margin-left: 2rem;
  line-height: 2rem;
}
.filter-main {
  display: flex;
  width: 100%;
}
.filter {
  width: 20%;
}
.filter p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-left: 1.5rem;
}
.bundles {
  display: flex;
  align-items: center;
  width: 55%;
}
.bundles p {
  padding-left: 1rem;
}
.sortby {
  width: 15%;
  border: 1px solid;
  margin-left: 5rem;
  padding: 4px;
}
.sortby i{
    margin-left: 10px;
}
.flter-product-main {
  display: flex;
}
.filter-check {
  width: 280px;
  padding: 3px;
  border-top: 1px solid;
}
.filter-check p {
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.cate-product {
  margin-left: 2rem;
  display: inline-block;
}
.products {
  width: 1150px;
  padding-left: 1rem;
  border-left: 1px solid;
}
.categories,
.brand,
.price,
.color,
.discount {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
.categories p {
  font-size: 18px;
  font-weight: 700;
}
.categories span {
  margin-left: 5px;
  line-height: 1.6;
}
.brand p {
  font-size: 18px;
  font-weight: 700;
}
.brand span {
  margin-left: 5px;
  line-height: 1.6;
}
.price p {
  font-size: 18px;
  font-weight: 700;
}
.price span {
  margin-left: 5px;
  line-height: 1.6;
}
.color p {
  font-size: 18px;
  font-weight: 700;
}
.color span {
  margin-left: 5px;
  line-height: 1.6;
}
.discount p {
  font-size: 18px;
  font-weight: 700;
}
.discount span {
  margin-left: 5px;
  line-height: 1.6;
}
/* product work */

.item-main .item .item-img {
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: relative;
}
.item-main {
  display: flex;
}

.item {
  border: 1px solid #ddd; 
  margin: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.img-item img {
  width: 180px; 
  height: 200px; 
  border-radius: 8px; 
}

.item-content {
  margin-top: 10px;
  text-align: left;
}
